.navbar {
  background-color: #0f4c75;
}
.link {
  color: white;
  font-weight: bold;
  text-decoration: none;
  margin: 1rem 0.3rem;
  padding: 0.3rem 0.6rem;
  border-radius: 0.5 rem;
}
.link:hover {
  background-color: #bbe1fa;
  color: black;
}
.logo {
  font-weight: bolder;
  font-size: larger;
  font-family: cursive;
  font-size: 24px;
  color: white;
  text-decoration: none;
  margin: 0 1rem;
}
.logo:hover {
  color: white;
}
