.link{
    color: rgb(41, 38, 38);
    font-weight: bold;
    text-decoration: none;
    margin: 1rem .3rem;
    padding: .3rem .6rem;
    border-radius: .5 rem;
}
.link:hover{
    background-color: rgb(0, 53, 53);
    color: white;

}
.logo{
    font-weight: bolder;
    font-size: larger;
    font-family: cursive;
    font-size: 24px;
    color: teal;
    text-decoration: none;
    margin: 0 1rem;
}
.logo:hover{
    color: teal;
}