.histories {
  background-color: #0f4c75;
  color: white;
}
.history-welcome {
  font-size: 22px;
  font-weight: bold;
}
.history-title {
  font-size: 50px;
  font-weight: bold;
}
.history-count {
  font-size: 35px;
  font-weight: bold;
  color: #ff9a00;
}
